*/stamp-h1
.deps/
Makefile
Makefile.in
aclocal.m4
autom4te.cache
build-aux/
config.log
config.status
configure
libaiff/config.h
libaiff/config.h.in
libaiff/config.h.in~
libtool
m4/libtool.m4
m4/lt*.m4

*.o
*.lo
*.la
.libs/
